<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 在线师生课程交流系统</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
@{
    String str = "请先登录";
    if (Session["AccountName"] != null)
    {
        str = "欢迎，" + Session["AccountName"].ToString();
    }
    ViewBag.Active = "active";
}
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("在线师生课程交流系统", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("关于", "About", "Home")</li>
                    <li>@Html.ActionLink("用户管理", "Index", "AccountModels")</li>
                    <li>@Html.ActionLink("用户注册", "Register", "AccountModels")</li>
                    <li>@Html.ActionLink("日志查询", "Index", "LogModels")</li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    @if (str == "请先登录")
                    {
                        <li>@Html.ActionLink("用户登录", "Login", "AccountModels", null, new { @class = "logout" })</li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("注销", "LogOff", "AccountModels", null, new { @class = "logout" })</li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - 我的 ASP.NET 应用程序</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
