<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 在线师生课程交流系统</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
@{
    String str = "请先登录";
    if (Session["AccountName"] != null)
    {
        str = "欢迎，" + Session["AccountName"].ToString();
    }
}
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("在线师生课程交流系统", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @switch ((string)Session["Type"])
                    {
                        case "学生":
                            {
                                <li>@Html.ActionLink("个人中心", "Details", "AccountModels", routeValues: new { id = int.Parse(Session["Id"].ToString()) }, htmlAttributes: null)</li>
                                break;
                            }
                        case "教师":
                            {
                                <li>@Html.ActionLink("个人中心", "Details", "AccountModels", routeValues: new { id = int.Parse(Session["Id"].ToString()) }, htmlAttributes: null)</li>
                                <li>@Html.ActionLink("课程管理", "Index", "CourseModels")</li>
                                <li>@Html.ActionLink("视频管理", "Index", "VideoModels")</li>
                                <li>@Html.ActionLink("作业管理", "Index", "HomeworkModels")</li>
                                break;
                            }
                        case "课程管理员":
                            {
                                <li>@Html.ActionLink("个人中心", "Details", "AccountModels", routeValues: new { id = int.Parse(Session["Id"].ToString()) }, htmlAttributes: null)</li>
                                <li>@Html.ActionLink("课程管理", "Index", "CourseModels")</li>
                                <li>@Html.ActionLink("视频管理", "Index", "VideoModels")</li>
                                <li>@Html.ActionLink("作业管理", "Index", "HomeworkModels")</li>
                                break;
                            }
                        case "论坛管理员":
                            {
                                <li>@Html.ActionLink("个人中心", "Details", "AccountModels", routeValues: new { id = int.Parse(Session["Id"].ToString()) }, htmlAttributes: null)</li>
                                <li>@Html.ActionLink("论坛管理", "Manage", "ForumModels")</li>
                                break;
                            }
                        case "超级管理员":
                            {
                                <li>@Html.ActionLink("个人中心", "Details", "AccountModels", routeValues: new { id = int.Parse(Session["Id"].ToString()) }, htmlAttributes: null)</li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">课程相关 <span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li>@Html.ActionLink("课程管理", "Index", "CourseModels")</li>
                                        <li role="separator" class="divider"></li>
                                        <li>@Html.ActionLink("视频管理", "Index", "VideoModels")</li>
                                        <li>@Html.ActionLink("作业管理", "Index", "HomeworkModels")</li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">系统相关 <span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li>@Html.ActionLink("用户管理", "Index", "AccountModels")</li>
                                        <li>@Html.ActionLink("论坛管理", "Manage", "ForumModels")</li>
                                        <li role="separator" class="divider"></li>
                                        <li>@Html.ActionLink("系统日志", "Index", "LogModels")</li>
                                    </ul>
                                </li>

                                break;
                            }
                        default:
                            {
                                break;
                            }
                    }
                    <li>@Html.ActionLink("课程论坛", "Index", "ForumModels")</li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    @if (str == "请先登录")
                    {
                        <li>@Html.ActionLink("用户登录", "Login", "AccountModels", null, new { @class = "logout" })</li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("注销" + Session["Type"].ToString(), "LogOff", "AccountModels", null, new { @class = "logout" })</li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - 在线师生课程交流系统</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
