@model OnlineTSCS.Models.HomeworkCommentModel

@{
    ViewBag.Title = "作业评分";
}

@using (Html.BeginForm())
{

    <div class="jumbotron" style="background-color:yellowgreen">
        <h2 style="color:white">@ViewBag.Title</h2>
        <p style="color:white" class="lead">
            @Model.Homework.Course.CourseName - @Model.Homework.Claim
        </p>
        <p style="color:white" class="lead">
            学生答案：@Model.Content
        </p>
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.HomeworkCommentId)

            @Html.LabelFor(model => model.Score, htmlAttributes: new { @class = "control-label sr-only" })
            @Html.EditorFor(model => model.Score, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Score, "", new { @class = "text-danger" })

            <input type="submit" value="确认评分" class="btn btn-default" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
