@model OnlineTSCS.Models.HomeworkCommentModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>HomeworkCommentModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Account.AccountName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Account.AccountName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Homework.Claim)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Homework.Claim)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Score)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Score)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Content)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Content)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Frozen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Frozen)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.HomeworkCommentId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
